@use '../../scss/utils' as *;

.about-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include small-desktop {
        flex-direction: column;
        gap: 0;
    }

    .context {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
            font-size: 1.8rem;
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 1rem;

            p {
                font-size: 1.2rem;
                text-align: justify;
            }

            .skills {
                height: 2rem;
            }
        }
    }

    img {
        height: 350px;
    }
}

.projects-feed-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .context {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;

        // Style pour les cartes de projet
        .project:not(.see-more) {
            width: calc(50% - 1rem); // 2 projets par ligne
        }

        // Style pour le lien "Voir +"
        .see-more {
            width: 100%;
            text-align: center;
            margin-top: 1rem;
        }

        @include tablet {
            flex-direction: column;
            align-items: center;

            .project:not(.see-more) {
                width: 100%;
            }

            .see-more {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}